@using TaskManager.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TaskManager.Models.TodoList

<h3>@Model.Title</h3>

<p class="text-muted">
    @Model.Description
</p>

<a asp-controller="TodoTask" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary">+ Create New Task</a>

@*<h 5>Your ToDo Lists</h5>
<a asp-controller="TODO" asp-action="Create" class="btn btn-primary">+ Create New List</a>
@if (!Model.Any())
{
    <p class="text-muted">No todo lists created yet.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Open</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table> 
}*@

